.flexbox{
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}

.para1{
    background: darkgreen;
    flex: 1;
    color: aliceblue;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    
}
.para2{
    background: rgb(32, 14, 230);
    flex: 1;
    color: aliceblue;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    
}
.para3{
    background: rgb(70, 182, 227);
    flex: 1;
    color: aliceblue;
    font: bold;
     padding: 30px;
     text-align: center;
     
}
.flexboxwrap{
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.fbox1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.fbox2{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.fbox3{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.fbox4{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.gridcontainer{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gridbox{
    background-color: bisque;
    
}